*{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
/*background colors*/
.bg-green{
	background-color: rgb(15,173,104);
}
.bg-blue{
	background-color: rgb(44,62,79);
}
/*text color*/
.tx-black{
    color:black;
}
:not(.tx-black) {
    color: white;
}
/*background images*/
.bgimg-1{
 	background-image: url("../img/bgimg-1.jpg");
}
.bgimg-2{
 	background-image: url("../img/bgimg-1.jpg");
}
