*{
	font-family: 'Roboto', sans-serif;
}
.border-green{
	border: 1px solid rgb(15,173,104);
}
/*background colors*/
.bg-green{
	background-color: rgb(15,173,104);
}
.bg-blue{
	background-color: rgb(44,62,79);
}
.bg-white{
	background-color: white;
}
/*text color*/
.tx-black{
    color:black;
}
:not(.tx-black) {
    color: white;
}
.tx-orange{
	color:rgb(232, 123, 53);
}
/*background images*/
.bgimg-1{
 	background-image: url("../img/bgimg-1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 100%;
	height:500px;
}
.bgimg-about{
	background-image: url("../img/aboutus.jpg");
	background-repeat: no-repeat;
	position:top;
	background-size: 100%;
	max-width: 100%;
	height:550px;
	margin-top:10%;
}
.bgimg-2{
 	background-image: url("../img/bgimg-2.jpg");
 	background-repeat: no-repeat;
 	position:top;
	background-size: 100%;
	max-width: 100%;
	height:400px;
	padding-top:12%;
}
/*margin*/
.mg-top15{
	margin-top:15%;
}
.mg-bottom15{
	margin-bottom:15%;
}
.mg-top4{
	margin-top: 4%;
}
.mg-bottom4{
	margin-bottom: 4%;
}
/*hr*/
hr{
	width:7%;
	color:white;
}
/*button*/
.buttonblack{
	background-color: rgb(62,68,62); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
	background-color: #e7e7e7;
}
/*img team*/
.jane{
	height:50%;
	width:50%;
}
/*tamaño de los inputs/form*/
.input, textarea{
	width:40% !important; 
	font-size:100%;
	margin-bottom:2%;
}
/*altura del textarea*/
textarea{
	height:30%;
}
/*color palette 1*/
.cp-height{
	height:100px;
}
.cp1-1{
	background-color:#5080bc;
}
.cp1-2{
	background-color:#7298bc;
}
.cp1-3{
	background-color:#fe6fbc;
}
.cp1-4{
	background-color:#fab8dc;
}
.cp1-5{
	background-color:#a50303;
}
/*color palette 2*/
.cp2-1{
	background-color:#6ca510;
}
.cp2-2{
	background-color:#bdec29;
}
.cp2-3{
	background-color:#165a35;
}
.cp2-4{
	background-color:#158364;
}
.cp2-5{
	background-color:#071a0a;
}
/*color palette 3*/
.cp3-1{
	background-color:#ffcc10;
}
.cp3-2{
	background-color:#6cb5f0;
}
.cp3-3{
	background-color:#f6246c;
}
.cp3-4{
	background-color:#c2f273;
}
.cp3-5{
	background-color:#f6745e;
}
/*color palette 4*/
.cp4-1{
	background-color:#ff9c55;
}
.cp4-2{
	background-color:#ff6057;
}
.cp4-3{
	background-color:#ffbfbc;
}
.cp4-4{
	background-color:#ffe0de;
}
.cp4-5{
	background-color:#50919a;
}
/*color palette 5*/
.cp5-1{
	background-color:#4b385a;
}
.cp5-2{
	background-color:#6b425c;
}
.cp5-3{
	background-color:#855463;
}
.cp5-4{
	background-color:#b07e6e;
}
.cp5-5{
	background-color:#e1d2bc;
}

