@media screen and (max-width: 768px){
	.bgimg-1{
	padding-top:0%;
	padding-bottom: 10%;
	font-size:50%;
	}
	.mg-top15{
	margin-top:20%;
}
	.mg-bottom15{
	margin-bottom:15%;
}
	.mg-top20{
	margin-top:20%;
}
	.mg-top4{
	margin-top: 10%;
}
	.mg-bottom4{
	margin-bottom: 10%;
}
	hr{
	width:7%;
	color:white;
}
/*button*/
	.buttonblack{
	background-color: rgb(62,68,62); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
	button:hover {
	background-color: #e7e7e7;
}
/*img team*/
	.jane{
	height:50%;
	width:50%;
}
/*tamaño de los inputs/form*/
	.input, textarea{
	width:60% !important; 
	font-size:100%;
	margin-bottom:2%;
}
/*altura del textarea*/
	textarea{
	height:30%;
}
}